<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645446701196-ot1p19fak58edl46hfqi7cf4m2doahj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645446701196-ot1p19fak58edl46hfqi7cf4m2doahj6</string>
	<key>API_KEY</key>
	<string>AIzaSyDsHFvJkggxbPUcYApdQcQABqRrgC-ZfQw</string>
	<key>GCM_SENDER_ID</key>
	<string>645446701196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-78f92</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-78f92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645446701196:ios:037c33ee8ec1a7d2056ba9</string>
</dict>
</plist>